@import url('http://fonts.cdnfonts.com/css/gilam');
body {
    background: #171717;
    width: 1455px;
    font-family: Gilam;
    margin: 2em 2em;
    color: white;
    justify-content: center;
}
.top_menu_contacts {
    display: inline-block;
    float: right;
    font-size: 19px;
    color: white;
}
.contact_color {
    color: #D6AF76;
}
a {
    color: inherit;
    text-decoration: none;
}
.number {
    margin-right: 2em;
}
.call {
    margin-right: 4em;
}
.call_menu {
    color: #D6AF76;
    border: 2px solid #D6AF76;
    padding: 12px 2em 12px .5em;
}
.phone_img {
    margin-left: 10px;
    margin-right: 2px;
    padding-bottom: 2px;
}

h1  {
    font-size: 50px;
    font-weight: bold;
    margin-top: 2em;
}
p {
    font-size: 20px;
    font-weight: bold;
    margin-top: 2em;
    margin-bottom: 2em;
}
.wrapper_grid_1 {
    font-size: 20px;
    font-weight: bold;
    display: grid;
    /*grid-template-columns:repeat(3, 1fr);*/
    grid-template-columns: 465px 465px 465px;
    grid-auto-rows: 465px;
    /*grid-template-columns: repeat(3,150px);*/
    /*grid-auto-rows: minmax(150px,auto);*/
    gap: 34px;
}
.wrapper_grid_2 {
    font-size: 20px;
    font-weight: bold;
    display: grid;
    grid-template-columns: 715px 715px;
    grid-auto-rows: 468px;
    gap: 34px;
    margin-top: 34px;
}



.item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
}
.item_1 {
    background-color: #634F2C;
}
.item_2 {
    background: #B4A385;
    text-align: center;
}
.item_3 {
    background: #E4B564;
}
.item_4 {
    background: #635A4A;
}
.item_5 {
    background: #B08C4D;
}


.skyscrapers {
    background: url("../Images/skyscrapers.png");
    margin-top: 40px;
    padding: 200px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}




.main_menu_header{
    font-size: 50px;
    margin-top: 60px;
    margin-bottom: 90px;
}



.main_menu {
    position: relative;
    margin-left: 0;
    margin-bottom: 50px;
}
.main_menu>a {
    display: flex;
    width: 400px;
}
.main_menu_item1{
    background: #0E0E0E;
    height: 320px;
    position: relative;
}
.main_menu_item2 {
    background: #242424;
    height: 439px;
    position: absolute;
    left: 500px;
    top: 0;
}
.main_menu_item3 {
    background: #1F1F1F;
    height: 235px;
    position: absolute;
    left: 1000px;
    top: 0;
}
.main_menu_item4 {
    background: #1F1F1F;
    height: 560px;
    position: relative;
    top: 20px;
}
.main_menu_item5 {
    color: black;
    background: #E4B564;
    height: 430px;
    position: absolute;
    left: 500px;
    top: 540px;
}
.main_menu_item6 {
    background: #0E0E0E;
    height: 293px;
    position: absolute;
    left: 1000px;
    top: 330px;
}
.main_menu_item7 {
    background: #0A0909;
    height: 257px;
    position: absolute;
    left: 1000px;
    top: 720px;
}
.main_menu_text {
    padding: 2em 2em;
    font-size: 20px;
    font-weight: bold;
}



.footer_background {
    background-color: #0E0E0E;
}



.lobby {
    background: url("../Images/lobby.png");
    padding: 200px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}


.footer_header_items {
    /*margin-bottom: 720000px;*/
}
.footer_menu_info {
    display: inline-block;
    width: 1455px;
}
.footer_header {

}
.footer_projects {
    /*display: inline-block;*/
    font-size: 18px;
    color: #E4B564;
    border: 1px solid #E4B564;
    float: right;
    position: relative;
    bottom: 2.5em;
    padding: 10px 40px;
}







.footer_menu {
    display: grid;
    grid-template-columns: 487px 487px 487px;
    grid-template-rows: 391px 391px;
    margin-top: 72px;
}
.footer_menu_items{
    padding-top: 10em;
}
.footer_menu_items2{
    padding-top: 2.5em;
    padding-bottom: 0;
}

.footer_menu_text {
    position: absolute;
    bottom: 5em;
}
.footer_menu_text1 {
    font-weight: bold;
}




.footer_menu_item1 {
    background: #634F2C;
}
.footer_menu_item2 {
    background: #E8D2ABC2;
    font-size: 20px;
    line-height: 1.5;
}
.footer_menu_item3 {
    background: #E4B564;
}
.footer_menu_item4 {
    background: #635A4A;
}
.footer_menu_item5 {
    background: #B08C4D;
}
.footer_menu_item6 {
    background: #634F2C;
}
.footer_menu {
    text-align: center;
}
.footer_menu_img {
    /*padding-top: 10em;*/
}



